.basic:hover {
    -fx-background-color: rgb(219, 219, 219);
}

.basic {
    -fx-background-color: rgb(243, 243, 243);
}

.resource-clicked {
    -fx-background-color: rgb(219, 219, 219);
}

.resource-change-when-task-clicked {
    -fx-background-color: rgb(207, 249, 207);
}

.resource-change-when-task-clicked:hover {
    -fx-background-color: rgb(177, 235, 177);
}

.partition-change-when-task-clicked {
    -fx-background-color: rgb(207, 249, 207);
}

.partition-change-when-task-clicked:hover {
    -fx-background-color: rgb(177, 235, 177);
}

.resource-clicked-change-all{
    -fx-background-color: rgb(247, 209, 193) ;
}

.resource-clicked-change-all:hover {
    -fx-background-color: rgb(249, 195, 172);
}