.basic:hover {
    -fx-background-color: rgb(219, 219, 219);
}

.basic {
    /* -fx-background-color: linear-gradient(to top, rgb(219, 219, 219) 0%, white 100%); */
    -fx-background-color: white;
    -fx-border-color: rgb(219, 219, 219);
    -fx-border-radius: 1.2em;
}

.resource-clicked {
    -fx-background-color: rgb(219, 219, 219);
}

.resource-change-when-task-clicked {
    -fx-background-color: linear-gradient(to top, rgb(22, 202, 173), rgb(130, 244, 224));
    -fx-border-color: rgb(22, 202, 173);
    -fx-border-radius: 1.2em;
}

.resource-change-when-task-clicked:hover {
    -fx-background-color: rgb(22, 202, 173);
}

.partition-change-when-task-clicked {
    -fx-background-color: linear-gradient(to top, rgb(22, 202, 173), rgb(130, 244, 224));
    -fx-border-color: rgb(22, 202, 173);
    -fx-border-radius: 1.2em;
}

.partition-change-when-task-clicked:hover {
    -fx-background-color: rgb(22, 202, 173);

}

.resource-clicked-change-all{
    -fx-background-color: linear-gradient(to bottom, rgb(255, 239, 193), rgb(255, 218, 105));
    -fx-border-color: rgb(255, 218, 105);
    -fx-border-radius: 1.2em;
}

.resource-clicked-change-all:hover {
    -fx-background-color: rgb(255, 218, 105);
}